In [41]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn

In [43]:
df = pd.read_csv('iris.csv')
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [44]:
# shufffle the  data
df.sample(frac = 1)

    sepal_length  sepal_width  petal_length  petal_width     species
9            4.9          3.1           1.5          0.1      setosa
53           5.5          2.3           4.0          1.3  versicolor
1            4.9          3.0           1.4          0.2      setosa
67           5.8          2.7           4.1          1.0  versicolor
44           5.1          3.8           1.9          0.4      setosa
..           ...          ...           ...          ...         ...
86           6.7          3.1           4.7          1.5  versicolor
0            5.1          3.5           1.4          0.2      setosa
77           6.7          3.0           5.0          1.7  versicolor
21           5.1          3.7           1.5          0.4      setosa
41           4.5          2.3           1.3          0.3      setosa

[150 rows x 5 columns]

In [45]:
# one hot encoding using pandas library
# we have to  change the value of species into numerical value

from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [46]:


df['species'] = le.fit_transform(df['species'])

In [47]:
df

     sepal_length  sepal_width  petal_length  petal_width  species
0             5.1          3.5           1.4          0.2        0
1             4.9          3.0           1.4          0.2        0
2             4.7          3.2           1.3          0.2        0
3             4.6          3.1           1.5          0.2        0
4             5.0          3.6           1.4          0.2        0
..            ...          ...           ...          ...      ...
145           6.7          3.0           5.2          2.3        2
146           6.3          2.5           5.0          1.9        2
147           6.5          3.0           5.2          2.0        2
148           6.2          3.4           5.4          2.3        2
149           5.9          3.0           5.1          1.8        2

[150 rows x 5 columns]

In [48]:
X = df.drop(columns = 'species' , axis = 1)

In [49]:

y = df['species']

In [50]:
X

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [51]:
y

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: species, Length: 150, dtype: int32

In [52]:
#train test split

from sklearn.model_selection import train_test_split

X_train , X_test , y_train , y_test = train_test_split(X, y ,test_size = 0.2, random_state = 20)

In [53]:
# now create our model ----> Multilayer Perceptron

In [25]:
from keras.models import Sequential
from keras.layers import Dense

In [55]:
model  = Sequential()

model.add(Dense(6 , activation = 'sigmoid'))   #  hidden layer
model.add(Dense(3 , activation = 'softmax')) # output layer
model.compile(loss = 'sparse_categorical_crossentropy', metrics  = ["accuracy"])
model.fit(X_train , y_train, epochs = 25 , batch_size = 5)

Epoch 1/25
24/24 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.3231 - loss: 1.3370
Epoch 2/25
24/24 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.2692 - loss: 1.2988
Epoch 3/25
24/24 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.3049 - loss: 1.1618
Epoch 4/25
24/24 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.3231 - loss: 1.1215
Epoch 5/25
24/24 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.3256 - loss: 1.0152
Epoch 6/25
24/24 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.5395 - loss: 1.0308
Epoch 7/25
24/24 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.7328 - loss: 0.9461
Epoch 8/25
24/24 ━━━━━━━━━━━━━━━━━━━━ 0s 935us/step - accuracy: 0.6317 - loss: 0.9908
Epoch 9/25
24/24 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.6400 - loss: 0.9642
Epoch 10/25
24/24 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.6354 - loss: 0.9478
Epoch 11/25
24/24 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.6998 - loss: 0.8903
Epoch 12/25
24/24 ━━━━━━━━━━━━━━━━━━━━ 0s 976us/step - accuracy: 0.6722 - loss: 0.8947
Epoch 13/25
24/24 ━━━━━━━━━━━━━━━━━━━━ 0s 948us/step - accuracy: 0.5619 - loss: 0.9225
Epoch 14/25
24/24 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.7020 - loss: 0.8443
Epoch 15/25
24/24 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.6663 - loss: 0.8521
Epoch 16/25
24/24 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.6712 - loss: 0.8283
Epoch 17/25
24/24 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.7130 - loss: 0.8087
Epoch 18/25
24/24 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.7567 - loss: 0.7887
Epoch 19/25
24/24 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.6954 - loss: 0.8081
Epoch 20/25
24/24 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.7316 - loss: 0.7903
Epoch 21/25
24/24 ━━━━━━━━━━━━━━━━━━━━ 0s 913us/step - accuracy: 0.7188 - loss: 0.7731
Epoch 22/25
24/24 ━━━━━━━━━━━━━━━━━━━━ 0s 937us/step - accuracy: 0.8379 - loss: 0.7642
Epoch 23/25
24/24 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7720 - loss: 0.7220
Epoch 24/25
24/24 ━━━━━━━━━━━━━━━━━━━━ 0s 957us/step - accuracy: 0.7371 - loss: 0.7231
Epoch 25/25
24/24 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.7762 - loss: 0.7158

In [57]:
model.evaluate(X_test , y_test)

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 122ms/step - accuracy: 0.8000 - loss: 0.7452

[0.7452170252799988, 0.800000011920929]